body {
  font-family: "Heebo", sans-serif;
}

.popupContent {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.popupHeader {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: larger;
}

.leaflet-popup-content-wrapper {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-tip-container {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}
