@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Heebo", sans-serif;
}

.leaflet-control-layers {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.popupContent {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.popupHeader {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: larger;
}

.leaflet-popup-content-wrapper {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-tip-container {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}
