@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Heebo", sans-serif;
}

.leaflet-control-layers {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.popupContent {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.popupHeader {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: larger;
}

.leaflet-popup-content-wrapper {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.leaflet-popup-tip-container {
  direction: rtl;
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.legend {
  font-family: "Heebo", sans-serif;
  direction: rtl;
  text-align: right;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: scroll;
}
.legend i {
  font-family: "Heebo", sans-serif;
  direction: rtl;
  text-align: right;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;

  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
div.legend.leaflet-control br {
  font-family: "Heebo", sans-serif;
  direction: rtl;
  text-align: right;
  clear: both;
}
